<html>
    <body>
        <div class="form-style-2">
            <div ckass="form-style-2-heading">Customer Details</div>
            <form action="/details" method="POST">
                <label for="user_name"><span>Name</span><input type="input-field" name="user_name" value="" placeholder="Enter Name"></label>
                <label for="number_of_items"><span>Phone</span><input type=text class="input-field" name="contact_number" value="" placeholder="Enter the number of items"/>
                <label for="amount"><span>Total Amount</span><input type="number" class="input-field" name="amount" value="" placeholder="Enter the total amount"/></label>
                <label for="current_data"><span>Date</span><input type="data" class="input-field" name="current_data" value="" placeholder="Today's date"/></label>
                <div>
                    <a href="/winner" class="btn">Today's Winner</a>
                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </body>
</html>